/*------------
GOOGLE FONT
------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@font-face {
    font-family: 'Roboto', sans-serif;
}

/*------------
Resset Css
------------*/
*,::after,::before,h1,h2,p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

.menuAdmin {
    padding: .7rem 1rem;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .menu {
        text-align: center;
        text-decoration: none;
        color: #3E3C3C;
        font-weight: 500;
        font-size: 18px;
        background: #fff;
        padding: .5rem 1rem;
        width: 100%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        border-radius: 10px;
        margin: .7rem;
        max-width: 180px;
        min-height: 74px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .5s;

        &:hover {
            background: #3C543C;
            color: #fff;
            transition:  .5s;
        }

        &.active {
            background: #3C543C;
        }
    }
}
