/*------------
Font
------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: steelfish;
  src: url(../font/stelfish.ttf);
}

/*------------
Resset Css
------------*/
*, ::after, ::before, h1, h2, p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  outline: none;
}

/*------------
Variables
------------*/
/*------------
Styling
------------*/
body {
  background-image: url("/mobile_v2/dist/assets/images/mobileBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#mainHeader {
  background: none;
  height: auto;
}

#mainHeader .backNavbar {
  padding: 1.3rem 1rem;
}

#mainHeader .wrapperMainMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: .5rem 0;
}

#mainHeader .wrapperMainMenu .nav-link {
  width: 100%;
  border: none;
  position: relative;
  color: #999999;
  font-weight: 500;
  font-size: 14px;
}

#mainHeader .wrapperMainMenu .nav-link::before {
  content: '';
  display: block;
  background: #3E563E;
  position: absolute;
  bottom: -9px;
  left: 0;
  height: 3px;
  width: 0%;
  -webkit-transition: .5s;
  transition: .5s;
}

#mainHeader .wrapperMainMenu .nav-link:hover::before {
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

#mainHeader .wrapperMainMenu .nav-link.active {
  color: #3E3C3C;
}

#mainContent {
  padding: 1rem;
}

#mainContent .tab-content .content .text {
  text-align: center;
  margin-bottom: 1.5rem;
}

#mainContent .tab-content .content .text h1 {
  color: #3E563E;
  font-size: 22px;
  margin-bottom: 1rem;
  font-weight: 600;
}

#mainContent .tab-content .content .text p {
  font-size: 14px;
}

#mainContent .tab-content .content .filter .form-input {
  padding: .7rem 1rem;
  margin: .5rem 0;
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 100%;
}

#mainContent .tab-content .content .btnSubmit {
  width: 100%;
  background: #3E563E;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#mainContent .tab-content .content .mapsAndLocation {
  margin: 1rem 0;
}

#mainContent .tab-content .content .mapsAndLocation .wrapperMaps {
  background: #fff;
}

#mainContent .tab-content .content .mapsAndLocation .wrapperMaps .headerMaps {
  background: #3E563E;
  padding: 1rem;
  border-radius: 10px 10px 0 0;
  color: #fff;
}

#mainContent .tab-content .content .mapsAndLocation .wrapperMaps .headerMaps h1 {
  font-size: 14px;
}

#mainContent .tab-content .content .mapsAndLocation .wrapperMaps #maps {
  width: 100%;
  padding: .7rem;
  background: #fff;
}

#mainContent .tab-content .content .mapsAndLocation .wrapperLocatiion {
  margin: .5rem 0;
}

#mainContent .tab-content .content .mapsAndLocation .wrapperLocatiion .location {
  background: #fff;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 10px;
}

#mainContent .tab-content .content .mapsAndLocation .wrapperLocatiion .location .namaTempat {
  margin-bottom: 1rem;
  font-size: 16px;
  font-weight: 600;
}

#mainContent .tab-content .content .mapsAndLocation .wrapperLocatiion .location .namaJalan {
  margin-bottom: .5rem;
  font-size: 12px;
}

#mainContent .tab-content .content .mapsAndLocation .wrapperLocatiion .location .btnLihatRute {
  background: #3E563E;
  padding: .3rem 1rem;
  color: #fff;
  font-size: 12px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#mainContent .tab-content .content .mapsAndLocation .wrapperLocatiion nav .pagination {
  font-size: 12px;
  margin-top: 1rem;
}

#mainContent .tab-content .content .mapsAndLocation .wrapperLocatiion nav .pagination .page-item {
  margin: 0 .2rem;
}

#mainContent .tab-content .content .mapsAndLocation .wrapperLocatiion nav .pagination .page-item .page-link {
  border-radius: 12px;
}

#mainContent .tab-content .content .mapsAndLocation .wrapperLocatiion .page-link {
  color: #284E78;
  padding: .3rem .7rem;
}

#mainContent .tab-content .content .mapsAndLocation .wrapperLocatiion .page-item.active .page-link {
  background-color: #3E563E;
  border-color: #3E563E;
  color: #fff;
  padding: .3rem .8rem;
}

#mainContent .tab-content .infoProdukBTN {
  padding: 2rem;
  background: #fff;
}

#mainContent .tab-content .infoProdukBTN h1 {
  color: #3E563E;
  font-weight: 600;
  text-align: center;
  font-size: 22px;
  margin-bottom: 1rem;
}

#mainContent .tab-content .infoProdukBTN .wrapperRedirectBTN {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

#mainContent .tab-content .infoProdukBTN .wrapperRedirectBTN .produk p {
  margin-bottom: .7rem;
  font-weight: 500;
}

#mainContent .tab-content .infoProdukBTN .wrapperRedirectBTN .produk a {
  text-decoration: none;
  background: #3E563E;
  padding: .5rem 1rem;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
}

#mainContent .tab-content .infoProdukBTN p {
  margin: 1.5rem 0;
  text-align: center;
  font-weight: 600;
}

#mainContent .tab-content .infoProdukBTN .aplikasiBTN {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#mainContent .tab-content .infoProdukBTN .aplikasiBTN a img {
  width: 100%;
  max-width: 90px;
}
/*# sourceMappingURL=bin.css.map */