/*------------
Font
------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: steelfish;
  src: url(../font/stelfish.ttf);
}

/*------------
Resset Css
------------*/
*, ::after, ::before, h1, h2, p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  outline: none;
}

/*------------
Variables
------------*/
/*------------
Styling
------------*/
#mainContent {
  padding: 1rem;
}

#mainContent .accordion .accordion-item {
  margin: 1rem 0;
  border: none;
}

#mainContent .accordion .accordion-item .accordion-header .accordion-button {
  background-color: #E1E1E1;
  font-weight: 500;
  border-radius: 10px 10px 0 0;
  font-size: 14px;
}

#mainContent .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  color: #000;
}

#mainContent .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

#mainContent .accordion .accordion-item .accordion-header .accordion-button.collapsed {
  border-radius: 10px;
}

#mainContent .accordion .accordion-item .accordion-header .accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#mainContent .accordion .accordion-item .accordion-collapse .accordion-body {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0 0 10px 10px;
  background: #fff;
}

#mainContent .accordion .accordion-item .accordion-collapse .accordion-body .imgProfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}

#mainContent .accordion .accordion-item .accordion-collapse .accordion-body .imgProfil img {
  max-width: 104px;
  border-radius: 50%;
}

#mainContent .accordion .accordion-item .accordion-collapse .accordion-body .formInput {
  margin: .7rem 0;
}

#mainContent .accordion .accordion-item .accordion-collapse .accordion-body .formInput label {
  color: #3E563E;
  font-weight: 600;
  font-size: 14px;
}

#mainContent .accordion .accordion-item .accordion-collapse .accordion-body .formInput input[type=number]::-webkit-outer-spin-button,
#mainContent .accordion .accordion-item .accordion-collapse .accordion-body .formInput input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#mainContent .accordion .accordion-item .accordion-collapse .accordion-body .formInput input[type=number] {
  -moz-appearance: textfield;
}

#mainContent .accordion .accordion-item .accordion-collapse .accordion-body .formInput input, #mainContent .accordion .accordion-item .accordion-collapse .accordion-body .formInput select, #mainContent .accordion .accordion-item .accordion-collapse .accordion-body .formInput textarea {
  font-size: 12px;
  border-radius: 10px;
}

#mainContent .accordion .accordion-item .accordion-collapse .accordion-body .formInput select option {
  font-weight: 400;
}

#mainContent .accordion .btnSimpan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#mainContent .accordion .btnSimpan .btnSubmit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background: #3E563E;
  border: none;
  padding: .7rem .8rem;
  border-radius: 10px;
  font-size: 14px;
}

#mainContent .accordion .btnSimpan .btnSubmit ion-icon {
  margin-right: .3rem;
}
/*# sourceMappingURL=editDataPokok.css.map */