/*------------
Font
------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: steelfish;
    src: url(../font/stelfish.ttf);
}

/*------------
Resset Css
------------*/
*,::after,::before,h1,h2,p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

/*------------
Variables
------------*/
$dashboard-background :linear-gradient(107.54deg, #3E563E 21.25%, #96BA7D 83.68%);
$box-shadow : 0px 4px 13px rgba(0, 0, 0, 0.25);
$menu-color : #3E563E;
$font-color : rgba(62, 60, 60, 1);
$font-white : #fff;
/*------------
Styling
------------*/
body {
    background-color: #f7f7f7;
}
#mainHeader {
    background-image: url('/mobile_v2/dist/assets/images/test.png');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 230px;
}

#mainContent {
    position: relative;
    padding: 0 1rem;
    top: -120px;
    .profileUser {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color:$font-white;
        position: relative;
        .detailUser {
            display: flex;
            align-items: center;
            .imagesUser {
                img {
                    width: 100%;
                    min-width: 72px;
                    max-width: 72px;
                    border-radius: 50%;
                    border: 2px solid #fff;
                }
            }
            .informationUser {
                margin-left: 1rem;
                font-weight: 500;
                p,h1 {
                    margin-bottom: .3rem;
                    line-height: 19px;
                }
                p {
                    font-size: 12px;
                }
                h1 {
                    font-size: 16px;
                }
                .nrp {
                    margin-bottom: 0;
                }
            }
        }
        .editProfil {
            svg {
                width: 100%;
                min-height: 18px;
            }
        }
    }
    .profilMenu {
        margin-top: 4rem;
        .menu {
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-decoration: none;
            padding: 1rem 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.13);
            .iconAndName {
                display: flex;
                align-items: center;
                svg {
                    width: 100%;
                    max-width: 20px;
                }
                .profilNameMenu {
                    margin-left: .5rem;
                    color: $font-color;
                    font-weight: 400;
                    font-size: 12px;
                }
            }
            .arrows {
                svg {
                    min-height: 10px;
                }
            }
        }
        .btnLogout {
            margin-top: 2rem;
            color: #e90101;
            font-weight: 400;
            padding: .5rem 1rem;
            width: 100%;
            border-radius: 20px;
            background: transparent;
            border: 2px solid #e90101;
        }
    }
}