/*------------
GOOGLE FONT
------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@font-face {
    font-family: 'Roboto', sans-serif;
}

/*------------
Resset Css
------------*/
*,::after,::before,h1,h2,p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    outline: none;
}


//ReusableClass
.nameProduct {
    color: #3E3C3C;
    font-weight: 700;
    line-height: 37.5px;
    margin-bottom: 1rem;
    font-size: 28px;
}

#mainContent {
    padding: 3rem;

    .informationSection {
        display: flex;
        .rekapPersonilInformation {                                                                                  
            display: flex;
            .rekapDoughnutChart {
                border-right: 1px solid #3E3C3C;
                width: 30%;
                .headerText {
                    font-weight: 500;
                }
                .wrapperChart {
                    width: 100%;
                    margin: 3rem 0;
                    .chart {
                        width: 100%;
                    }
                }
                .informationChart {
                    .personil {
                        display: flex;
                        align-items: center;
                        .icon {
                            margin-right: .5rem;
                            img {
                                width: 100%;
                            }
                        }
                        .value {
                            h3 {
                                font-weight: 500; 
                            }
                            h2 {
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
            .rekapLineChart {
                width: 70%;
                padding: 0 2rem;
                .headerText {
                    font-weight: 500;
                }
                .wrapperChart {
                    width: 100%;
                    margin-top: 3rem;
                }
            }
        }
        .adminInformation {
            .infoCard {
                margin: 1rem 0;
                color: #fff;
                border-radius: 10px;
                width: 100%;
                box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);

                &:nth-child(1) {
                    background-color: #284E78;
                }
                &:nth-child(2) {
                    background-color: rgba(25, 135, 84, 0.8);
                }
                &:nth-child(3) {
                    background-color: rgba(220, 53, 69, 0.8);
                }
                &:nth-child(4) {
                    background-color: #7334FF;
                }
                .labelCard {
                    margin-bottom: .8rem;
                    font-size: 24px;
                    font-weight: 500;
                }
                .wrapperValue {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 14px;
                    font-weight: 700;

                    .icon {
                        img {
                            width: 100%;
                            max-width: 74px;
                        }
                    }
                }
            }
        }
    }

    .productSection {
        .productLine {
            .baltabProduct {
                .wrapperCardBaltab {
                    display: flex;
                    .cards {
                        width: 100%;
                        text-align: center;
                        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                        h1 {
                            font-weight: 700;
                            .valuePengajuan {
                                color: #DC3545;
                            }
                        }
                        p {
                            color: #3E3C3C;
                            font-weight: 400;
                        }
                        .chartIcon {
                            svg {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}



//Responsive Tablet - Desktop
@media screen and (min-width : 0px) {
    #mainContent {
        .informationSection {
            flex-direction: column;
            margin: 1.5rem 0;
            .rekapPersonilInformation {
                padding: 2rem 1rem;
                margin-bottom: 1.5rem;
                .rekapDoughnutChart {
                    padding: 0 1rem;
                    .headerText {
                        font-size: 22px;
                    }
                    .informationChart {
                        .personil {
                            margin: 1rem 0;
                            .icon {
                                margin-right: .5rem;
                                img {
                                    max-width: 28px;
                                }
                            }
                            .value {
                                h3 {
                                    font-size: 16px;
                                }
                                h2 {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }
                .rekapLineChart {
                    .headerText {
                        font-size: 22px;
                    }
                }
            }
            .adminInformation {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .infoCard {
                    width: 46.9%;
                    margin: .5rem;
                    padding: 2rem 1rem;
                    .wrapperValue {
                        font-size: 16px;
                    }
                }
            }
        }
        .productSection {
            .productLine {
                .baltabProduct {
                    .wrapperCardBaltab {
                        .cards {
                            &:not(:last-child) {
                                margin-right: 1.5rem;
                            }
                            .icon {
                                padding: 1.5rem 1.3rem;

                            }
                            h1 {
                                font-size: 24px;
                                padding: 0 1.3rem;
                            }
                            p {
                                margin-bottom: 1.5rem;
                                font-size: 14px;
                                padding: .4rem 1.3rem;
                            }
                            .chartIcon {
                                svg {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width : 1200px) {
    #mainContent {
        .informationSection {
            flex-direction: row;
            align-items: flex-start;
            .rekapPersonilInformation {
                padding: 3rem 1rem;
                width: 70%;
                margin-bottom: 0;
                .rekapDoughnutChart {
                    .headerText {
                        font-size: 24px;
                    }
                    .informationChart {
                        .personil {
                            margin: 1rem 0;
                            .icon {
                                margin-right: .5rem;
                                img {
                                    max-width: 28px;
                                }
                            }
                            .value {
                                h3 {
                                    font-size: 18px;
                                }
                                h2 {
                                    font-size: 22px;
                                }
                            }
                        }
                    }
                }
                .rekapLineChart {
                    .headerText {
                        font-size: 24px;
                    }
                }
            }
            .adminInformation {
                width: 30%;
                flex-direction: column;
                flex-wrap: nowrap;
                padding: 0 1.5rem;

                .infoCard {
                    width: 100%;
                    margin: 0;
                    padding: 1.3rem 1rem;

                    &:not(:last-child) {
                        margin-bottom: 1rem;
                    }

                    
                }
            }
        }
        .productSection {
            .productLine {
                .baltabProduct {
                    .wrapperCardBaltab {
                        .cards {
                            &:not(:last-child) {
                                margin-right: 2rem;
                            }
                            h1 {
                                font-size: 28px;
                            }
                            p {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}